@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme {
  --font-lexend: var(--font-lexend);
  --font-jbmono: var(--font-jbmono);
}

::selection {
  color: white;
  background-color: black;
}

html {
  @apply scroll-smooth;
}

body {
  @apply antialiased leading-tight font-semibold tracking-tight overflow-y-scroll;
}

.unloadTransition {
  @apply opacity-0! transition-opacity duration-600 ease-[cubic-bezier(.19,1,.22,1)];
}

.text-base-upper {
  @apply text-base leading-tight tracking-tight uppercase;
}

.hover-subtle {
  @apply hover:bg-neutral-200 hover:underline transition-all duration-300 hover:duration-0;
}

.hover-subtle-black {
  @apply hover:bg-neutral-600 hover:underline transition-all duration-300 hover:duration-0;
}

.border-standard {
  @apply border-[1px] border-black;
}

.border-bottom-standard {
  @apply border-b-[1px] border-black;
}

.border-input {
  @apply border-1 border-[#e5e5e5] focus:border-black;
}

.card-shadow {
  @apply shadow-[0px_0px_8px_0px_rgba(0,_0,_0,_0.075)];
}